{% extends 'layout.html' %}
{% block body %}
<div class="row register-form">
    <div class="col-md-8 offset-md-2">
        <h1
            style="text-align:left;font-family:'Open Sans', sans-serif;font-size:25px;margin-right:0;margin-left:24px;line-height:34px;letter-spacing:0px;font-style:normal;font-weight:bold;">
            Password reset sent</h1>

        <p class="text-secondary"
            style="text-align:left;font-family:'Open Sans', sans-serif;font-size:18px;margin-right:0;margin-left:24px;line-height:34px;letter-spacing:0px;font-style:normal;font-weight:bold;">
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.</p>

        <p class="text-secondary"
            style="text-align:left;font-family:'Open Sans', sans-serif;font-size:18px;margin-right:0;margin-left:24px;line-height:34px;letter-spacing:0px;font-style:normal;font-weight:bold;">
            If you don't receive an email, please make sure you've entered the address you registered with, and check
            your spam folder.</p>

    </div>
</div>

{% endblock%}